RewriteEngine On
RewriteBase /

# Redirect to index.html if the requested resource doesn't exist
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /index.html [L]